<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import from GUI</title>
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
</head>
<body>
    <input type="text" id="json_path" value="">
    <button id="start_python">Send </button>
    <script>
        $("document").ready(function () {
            $("#start_python").click(function () {
                window.location.replace("/run_python?json=" + $("#json_path").val());
            });
        });
    </script>
</body>
</html>